.BIG_NAME{
    /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); */
    text-align: center;
    /* color: white; */
    /* mix-blend-mode: difference; */
    /* font-weight: 800; */
}

.word, .word2{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: min-content;
    mix-blend-mode: difference;
}
